/* ===========common style =====================*/
body{
    margin: 0;
    padding: 0;
    background: #fefaff;
    font-family: 'poppins',sans-serif;
}
.container{
    padding: 20px;
    background: #2d25a0;

}
.topbar{
    width: 1160px;
    margin: 0 auto;
}
/*======================== menubar============= */
.main-menu{
    padding: 20px;
}
.menu{
    display: flex;
    
}
.menu li{
    list-style-type:none;
}
.menu li a{
text-decoration: none;
color: #ffffff;
padding: 20px;
font-size: 20px;
}
/* ====================banner========================== */
.banner{
    width: 600px;
}
.banner img{
    width: 100%;
}
.top-title{
    display: flex;
    justify-content: center;
}
.head-title{
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 750;
    color: #fefaff;
    padding: 10px;
}
.title{
width: 500px;
padding: 50px;
}
.right{
    margin-left: 200px;
    color: #fefaff;
    background: rgb(185, 49, 25);
    padding: 5px;
}
.btn{
    background: tomato;
    padding: 10px 40px;
}
.link{
    text-decoration: none;
    color: cornsilk;
    font-size: 16px;
    font-weight: bold;
}
/* =================players details======================= */
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.player{
   margin-right: 15px;
   background: #ffffff;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 1px 1px 5px black;
   margin-top: 20px;
   padding: 20px;
}
.player img{
width: 100%;
height: 300px;
}
.player-name{
    color: chocolate;
}
/* =================footer=============== */
.match-high-light{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;  
}
.picture img{
    width: 100%;
    margin-top: 60px;
}
.picture{
    width: 500px;
}
     
.last-title{ 
    width: 350px;
    margin-right: 40px;
    background: #ffffff;
}
.last-title h2{
    font-size: 40px;
    color: rgb(56, 102, 102);
}
/* ================footer ==============*/

.logo{
    width: 350px;
    margin: auto;
    margin-top: 40px;
}
.logo img{
    width: 100%;
}
.end{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}